<main id="main" class="main">
   <div class="pagetitle">
      
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item" active><a routerLink="/"><h1>Home</h1></a></li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">

       <ul class="nav nav-tabs">
         <li class="nav-item">
           <a class="nav-link " aria-current="page" routerLink="vue-personnel" (click)="onGetAllVuePersonnel()">Vue Personnel</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Link</a>
         </li>
      
         <li class="nav-item">
           <a class="nav-link " routerLink="vue-global" (click)="onGetAllVueGlobal()">Vue Global</a>
         </li>
       </ul>

   </section>

</main>

   <div class="container" *ngIf="vuePersonnel">
      <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">Date</th>
             <th scope="col">Créateur</th>
             <th scope="col">Description</th>
             <th scope="col">Nature</th>
           </tr> 
         </thead>
         <tbody>
           <tr *ngFor="let vp of vuePersonnel">
             <td>{{vp.date}}</td>
             <td>{{vp.createur}}</td>
             <td>{{vp.description}}</td>
             <td>{{vp.nature}}</td>
           </tr>
         </tbody>
       </table>
   </div>

   <div class="container" *ngIf="vueGlobal">
      <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">Id</th>
             <th scope="col">Uuid</th>
             <th scope="col">Nom</th>
           </tr> 
         </thead>
         <tbody>
           <tr *ngFor="let vgr of vueGlobal">
             <td>{{vgr.id}}</td>
             <td>{{vgr.uuid}}</td>
             <td>{{vgr.nom}}</td>
           </tr>
         </tbody>
       </table>
   </div>